.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
}
.Body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#cards{
  display: flex;
  flex-direction: column;
}
#card{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  margin-top: 20px;
  width: 180px;
  height: 60px;
}
button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: white;
  background: none;
  border-color: white;
  border-radius: 20px;
  border-style: solid;
}
button:hover{
  transition: 0.25s;
  background-color: white;
  color: black;
}

#input {
  color: white;
  border-width: 3px;
  border-color: white;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: none;
  border-style: solid;
}
#result {
  font-size: 35px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
